@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand: #7C4EE4;
    --black: #333333;
    --grey: #666666;
    --light-grey: #999999;
    --white: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 18px;
    line-height: 24px;
}

.small {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0;
    color: var(--grey);
}

.con {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobilenav {
    font-size: 33px;
    display: block;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav a {
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--black);
}

.btn {
    background: var(--brand);
    color: var(--white);
    padding: 16px 48px;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.topnav
{
    
    align-items: center;
    gap: 60px;
    display: none;
}
.featured
{
    background: var(--brand);
    color: var(--white);
    padding: 100px 0;
}

.f-left h1 
{
     
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 86px; 
}
.f-left p 
{
    color: #FFF;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
padding: 20px 0;
}
.w-100 
{
    width: 100%;
}
.f-left, .f-right
{
    flex-basis: 50%;
}
.block1
{
    padding: 80px 0;
    position: relative;
}

.block-c h2 
{
    font-family: Raleway;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px; /* 140.625% */
letter-spacing: -1px; 
padding: 20px 0;
}
.block-c  p 
{
    color: var(--light-grey);
}
.wrap
{
    flex-wrap: wrap;
    padding: 20px 0;
}
.blog 
{
    width: 350px;
}
.blog  h4 
{
    padding: 20px 0 0 0;
}
.one 
{
    text-align: center;
    margin: auto;
    max-width: 60%;
}
.one h2 
{
    font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 92.308% */ 
}
footer
{
    text-align: center;
    padding: 50px 0;
}
footer ul 
{
    justify-content: center;
    margin: 40px 0;
}
.form input 
{
    width: 350px;
    height: 40px;
    padding: 10px;
    background: var(--white);
    border: none;
}
.nn 
{
    display: block;
}